:root {
  --vp-c-brand-1: #485fc7;
  --vp-c-brand-2: #3247a4;
  --vp-c-brand-3: #485fc7;
  --vp-c-divider: #e2e2e3;

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #1a1a1a80 30%, #1a1a1a80);
  --vp-home-feature-icon-background-color: rgba(142, 150, 170, 0.14);
  --vp-home-hero-image-filter: blur(48px);

  /*
  --vp-font-family-base: "Poppins", sans-serif;
  --vp-font-family-mono: "JetBrains Mono", monospace;
  */

  @media (min-width: 640px) {
    --vp-home-hero-image-filter: blur(64px);
  }
  @media (min-width: 960px) {
    --vp-home-hero-image-filter: blur(96px);
  }
}

.dark {
  --vp-c-brand-1: #63a4d9;
  --vp-c-brand-2: #3e8ed0;
  --vp-c-brand-3: #2a72ac;
  --vp-c-divider: #2e2e32;

  --vp-home-hero-image-background-image: linear-gradient(-45deg, #ededed80 30%, #ededed80);
  --vp-home-feature-icon-background-color: rgba(101, 117, 133, 0.16);
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgb(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: transparent;
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 8px rgb(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: var(--vp-c-divider);
}

.image-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 9999px;
  width: 192px;
  height: 192px;
  background-image: var(--vp-home-hero-image-background-image);
  filter: var(--vp-home-hero-image-filter);
  transform: translate(-50%, -50%);
}

.box {
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: var(--vp-home-feature-icon-background-color);
    width: 48px;
    height: 48px;
    font-size: 24px;
    transition: background-color 0.25s;
  }
}

.vp-doc {
  table {
    border-bottom: 1px solid var(--vp-c-divider);

    th,
    td {
      border: none;
      white-space: nowrap;
    }

    th:last-child {
      width: 100%;
    }
  }

  img {
    border-radius: 8px;
  }
}

/*
aside {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
*/
